
services:
  mariadb:
    image: mariadb:11
    container_name: nuvix-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${APP_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${APP_DATABASE_NAME}        
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - nuvix
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "--host=localhost", "--user=root", "--password=${APP_DATABASE_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  valkey:
    image: valkey/valkey:latest
    container_name: valkey
    ports:
      - "127.0.0.1:6379:6379" # only expose on host, not externally by default
    volumes:
      - valkey-data:/data
    restart: unless-stopped
    networks:
      - nuvix
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nuvix-api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: nuvix-api
    command: ["bun", "dist/apps/nuvix/main.mjs"]
    env_file:
      - .env
      - .env.api
    environment:
      APP_DATABASE_HOST: mariadb
      APP_REDIS_HOST: valkey
      NODE_ENV: production
    depends_on:
      mariadb:
        condition: service_healthy # Waits for mariadb to be healthy
      valkey:
        condition: service_healthy # Waits for valkey to be healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped

  console-api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: console-api
    command: ["bun", "dist/apps/console/main.mjs"]
    env_file:
      - .env
      - .env.console
    environment:
      APP_DATABASE_HOST: mariadb
      APP_REDIS_HOST: valkey
      NODE_ENV: production
    depends_on:
      mariadb:
        condition: service_healthy 
      valkey:
        condition: service_healthy 
    networks:
      - nuvix
      - caddy
    restart: unless-stopped

  caddy:
    image: caddy:2
    container_name: nuvix-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # For HTTP/3
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data      # For Caddy's state, like ACME certificates
      - caddy_config:/config  # For Caddy's configuration backups
    networks:
      - caddy
      - nuvix

volumes:
  mariadb_data:
  valkey-data:
  caddy_data:
  caddy_config:

networks:
  nuvix:
    driver: bridge
  caddy:
    driver: bridge