# this file is used for local development only
# if you want to deploy nuvix in production, please refer to the documentation
# https://docs.nuvix.in/deployment/docker

services:
  postgres:
    image: nuvix/postgres
    container_name: nuvix-postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${NUVIX_DATABASE_ADMIN_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nuvix
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'PGPASSWORD=${NUVIX_DATABASE_ADMIN_PASSWORD} pg_isready -U nuvix_admin -d postgres -h localhost',
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7.2
    container_name: redis
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']
    volumes:
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    restart: unless-stopped
    networks:
      - nuvix
    ports:
      - "6379:6379"
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  pgcat:
    image: ghcr.io/postgresml/pgcat:latest
    container_name: nuvix-pgcat
    ports:
      - "9930:9930"  # Metrics port
      - "6432:6432"  
    environment:
      NUVIX_PGCAT_ADMIN_USER: ${NUVIX_PGCAT_ADMIN_USER:-admin}
      NUVIX_PGCAT_ADMIN_PASSWORD: ${NUVIX_PGCAT_ADMIN_PASSWORD:-password}
      NUVIX_DATABASE_PASSWORD: ${NUVIX_DATABASE_PASSWORD}
      NUVIX_DATABASE_ADMIN_PASSWORD: ${NUVIX_DATABASE_ADMIN_PASSWORD}
      NUVIX_DATABASE_POOL_HOST: localhost
      NUVIX_DATABASE_POOL_PORT: 6432
      NUVIX_DATABASE_HOST: postgres
      NUVIX_DATABASE_PORT: 5432
    env_file:
      - .env
    volumes:
      - ./configs/pgcat.toml.template:/etc/pgcat/pgcat.toml.template:ro
      - ./configs/pgcat-entrypoint.sh:/usr/local/bin/pgcat-entrypoint.sh:ro
    networks:
      - nuvix
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    entrypoint: ["/usr/local/bin/pgcat-entrypoint.sh"]

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
      args:
        - NUVIX_NAME=server
    container_name: server
    command: ['bun', 'main.js']
    ports:
      - '4000:4000'
    env_file:
      - .env
    environment:
      NUVIX_DATABASE_HOST: postgres
      NUVIX_DATABASE_POOL_HOST: pgcat
      NUVIX_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    volumes:
      - nuvix_storage:/usr/src/app/storage
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'
    
  platform:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
      args:
        - NUVIX_NAME=platform
    container_name: platform
    command: ['bun', 'main.js']
    ports:
      - '4100:4100'
    env_file:
      - .env
    environment:
      NUVIX_DATABASE_HOST: postgres
      NUVIX_DATABASE_POOL_HOST: pgcat
      NUVIX_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'
  # caddy:
  #   image: caddy:2
  #   container_name: nuvix-caddy
  #   restart: unless-stopped
  #   ports:
  #     - '443:443'
  #     - '443:443/udp'
  #   volumes:
  #     - ./configs/Caddyfile:/etc/caddy/Caddyfile
  #     - caddy_data:/data
  #     - caddy_config:/config
  #   networks:
  #     - caddy
  #     - nuvix

volumes:
  postgres_data:
  nuvix_storage:
  redis_data:
  # caddy_data:
  # caddy_config:

networks:
  nuvix:
    driver: bridge
  caddy:
    driver: bridge
