services:
  mariadb:
    image: mariadb:11
    container_name: nuvix-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${APP_DATABASE_PASSWORD}
      MYSQL_DATABASE: ${APP_DATABASE_NAME}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - nuvix
    ports:
      - '3306:3306'
    healthcheck:
      test:
        [
          'CMD',
          'mariadb-admin',
          'ping',
          '--silent',
          '--password=${APP_DATABASE_PASSWORD}',
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7.2
    container_name: redis
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']
    volumes:
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    ports:
      - '6379:6379'
    restart: unless-stopped
    networks:
      - nuvix
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nuvix-api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: nuvix-api
    command: ['bun', 'dist/apps/nuvix/main.mjs']
    env_file:
      - .env
      - .env.api
    environment:
      APP_DATABASE_HOST: mariadb
      APP_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'

  console-api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: console-api
    command: ['bun', 'dist/apps/console/main.mjs']
    env_file:
      - .env
      - .env.console
    environment:
      APP_DATABASE_HOST: mariadb
      APP_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'

  caddy:
    image: caddy:2
    container_name: nuvix-caddy
    restart: unless-stopped
    ports:
      - '443:443'
      - '443:443/udp'
    volumes:
      - ./configs/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy
      - nuvix

volumes:
  mariadb_data:
  redis_data:
  caddy_data:
  caddy_config:

networks:
  nuvix:
    driver: bridge
  caddy:
    driver: bridge
