services:
  postgres:
    image: postgres:17
    container_name: nuvix-db
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${APP_DATABASE_PASSWORD}
      POSTGRES_DB: ${APP_DATABASE_NAME}
      POSTGRES_USER: ${APP_DATABASE_USER:-postgres}
    volumes:
      - nuvix_paltform_data:/var/lib/postgresql/data
    networks:
      - nuvix
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${APP_DATABASE_USER:-postgres} -d ${APP_DATABASE_NAME} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7.2
    container_name: redis
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']
    volumes:
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    ports:
      - '6379:6379'
    restart: unless-stopped
    networks:
      - nuvix
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: api
    command: ['bun', 'dist/api/main.js']
    env_file:
      - .env
      - .env.api
    environment:
      APP_DATABASE_HOST: postgres
      APP_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'

  platform:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: platform
    command: ['bun', 'dist/platform/main.js']
    env_file:
      - .env
      - .env.platform
    environment:
      APP_DATABASE_HOST: postgres
      APP_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'

  caddy:
    image: caddy:2
    container_name: nuvix-caddy
    restart: unless-stopped
    ports:
      - '443:443'
      - '443:443/udp'
    volumes:
      - ./configs/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy
      - nuvix

volumes:
  nuvix_paltform_data:
  redis_data:
  caddy_data:
  caddy_config:

networks:
  nuvix:
    driver: bridge
  caddy:
    driver: bridge
