services:
  postgres:
    image: ravikan6/postgres
    container_name: nuvix-postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${APP_DATABASE_PASSWORD:-password}
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nuvix
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'pg_isready -U ${APP_DATABASE_USER:-postgres} -d ${APP_DATABASE_NAME} -h localhost',
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7.2
    container_name: redis
    command: ['redis-server', '/usr/local/etc/redis/redis.conf']
    volumes:
      - ./configs/redis.conf:/usr/local/etc/redis/redis.conf
      - redis_data:/data
    # ports:
    #   - '6379:6379'
    restart: unless-stopped
    networks:
      - nuvix
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  server:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
      args:
        - APP_NAME=server
    container_name: server
    command: ['bun', 'main.js']
    env_file:
      - .env
    environment:
      APP_DATABASE_HOST: postgres
      APP_REDIS_HOST: redis
      NODE_ENV: production
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - nuvix
      - caddy
    volumes:
      - nuvix_storage:/usr/src/app/storage
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '5'

  caddy:
    image: caddy:2
    container_name: nuvix-caddy
    restart: unless-stopped
    ports:
      - '443:443'
      - '443:443/udp'
    volumes:
      - ./configs/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy
      - nuvix

volumes:
  postgres_data:
  nuvix_storage:
  redis_data:
  caddy_data:
  caddy_config:

networks:
  nuvix:
    driver: bridge
  caddy:
    driver: bridge
